.buttonContainer {
  display: flex;
  padding: var(--space-sm);
  align-items: center;
}

.iconImg {
  height: 1rem;
}

.miskeyIcon {
  filter: brightness(50%);
}

.uwuzuIcon {
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
