.parentContainer {
  user-select: none;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-xxl);
  margin: var(--space-md);
  color: var(--bc-white);
  padding: var(--space-lg);
  border-radius: var(--space-md);
  box-shadow: 3px 3px 3px var(--bc-shadow);

  transition: 0.3s;
}

.parentContainer:hover .container {
  transform: rotate(5deg) scale(1.1);
}

.parentContainer:hover .disabled {
  transform: none;
}

.dialogContainer {
  margin: 20px;
}

.disabled {
  opacity: 0.3;
}

@media (max-width: 700px) {
  .container {
    flex-direction: row;
  }

  .parentContainer:hover .container {
    transform: rotate(2deg) scale(1.1);
  }

  .parentContainer:hover .disabled {
    transform: none;
  }
}
