.parentContainer {
  user-select: none;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-xxl);
  margin: var(--space-md);
  color: var(--bc-white);
  padding: var(--space-lg);
  border-radius: var(--space-md);
  box-shadow: 3px 3px 3px var(--bc-shadow);

  transition: 0.3s;
}

.parentContainer:hover .container {
  transform: rotate(5deg) scale(1.1);
}

.parentContainer:hover .disabled {
  transform: none;
}

.dialogContainer {
  margin: var(--space-md);
}

.disabled {
  opacity: 0.3;
}

/* .titleButton {
  color: var(--bc-white);
  font-size: var(--font-size-xxl);
  padding: 20px 30px;
  border-radius: var(--font-size-md);
  box-shadow: 3px 3px 3px var(--bc-shadow);
  margin: 10px 0;
  transition: 0.3s;
  user-select: none;
  cursor: default;
}

.titleButton:hover {
  opacity: 0.5;
}

.disabled {
  background-color: var(--bc-gray);
}

.disabled:hover {
  opacity: 1;
}

.red {
  background-color: var(--bc-red);
}

.green {
  background-color: var(--bc-green);
}

.blue {
  background-color: var(--bc-blue);
}

.yellow {
  background-color: var(--bc-yellow);
}

.buttonContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.onIcon {
  rotate: 180deg;
  transition: 0.3s;
}

.offIcon {
  rotate: 0deg;
  transition: 0.3s;
} */

@media (max-width: 700px) {
  .container {
    flex-direction: row;
  }

  .parentContainer:hover .container {
    transform: rotate(2deg) scale(1.1);
  }

  .parentContainer:hover .disabled {
    transform: none;
  }
}
