.headContainer {
  display: flex;
  justify-content: space-between;
}

.chips {
  display: flex;
  justify-content: center;
}

@media (max-width: 1300px) {
  .headContainer {
    flex-direction: column;
    align-items: stretch;
  }
}

@media (max-width: 700px) {
  .chips {
    align-items: stretch;
  }
}

@media (max-width: 400px) {
  .chips {
    flex-direction: column;
    align-items: end;
    margin-top: var(--space-md);
  }
}
