.body {
  padding: 20px 20vw;
}

.h2 {
  margin: 20px 0px 5px 0px;
  color: var(--bc-green);
}

.ul {
  margin-left: 3rem;
}

.bold {
  font-weight: bold;
}

.blue {
  color: var(--bc-blue);
}

@media (max-width: 700px) {
  .body {
    padding: 20px 5vw;
  }
}
