.card {
  margin: var(--space-sm);
}

.cardTitle {
  font-size: var(--font-size-lg);
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.cardHeader {
  display: flex;
  gap: 10px;
  margin: 8px 0px;
  font-size: var(--font-size-md);
}

.questionImg {
  margin: 20px 0;
  width: 60%;
  box-shadow: 3px 3px 5px 3px var(--bc-shadow);
}

.imgWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primaryText {
  color: var(--bc-blue);
}

.choicesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.question {
  margin: var(--space-sm);
  font-size: var(--font-size-md);
}

.choice {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 3px;
  padding: 5px;
  border-radius: var(--font-size-lg);
  border: solid 2px var(--bc-blue);
  transition: 0.3s;
  color: var(--bc-blue);
  user-select: none;
  cursor: default;
  font-size: var(--font-size-md);
}

.choice:hover {
  background-color: var(--bc-shadow);
  color: var(--bc-white);
}

.correctChoice {
  background-color: var(--bc-blue);
  color: var(--bc-white);
}

.description {
  margin: var(--space-sm);
  font-size: var(--font-size-md);
}

.titleContainer {
  display: flex;
  justify-content: space-between;
}

.deleteTitle {
  color: var(--bc-red);
  font-weight: bold;
}

@media (max-width: 700px) {
  .choicesContainer {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
