* {
  padding: 0;
  margin: 0;
  color: inherit;
  font-family: "Kiwi Maru";
}

:root {
  --bc-white: #ffffff;
  --bc-black: #000000;
  --bc-shadow: #00000034;
  --bc-red: #fa4949;
  --bc-green: #22b94a;
  --bc-blue: #3e98ff;
  --bc-yellow: #ffca38;
}

.background-red {
  background-color: var(--bc-red);
}

.background-green {
  background-color: var(--bc-green);
}

.background-blue {
  background-color: var(--bc-blue);
}

.background-yellow {
  background-color: var(--bc-yellow);
}

.font-red {
  color: var(--bc-red);
}

.font-green {
  color: var(--bc-green);
}

.font-blue {
  color: var(--bc-blue);
}

.font-yellow {
  color: var(--bc-yellow);
}
