.buttonContainer {
  margin: 0px 20px;
  min-width: 50vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.childButtonContainer {
  display: flex;
}

.topContainer {
  display: flex;
  flex-direction: column;
  margin: 50px 0px;
  align-items: center;
}

.rogoContainer {
  margin: 0px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rogo {
  height: 150px;
  fill: var(--bc-black);
  margin: 0px 20px;
  margin-bottom: var(--space-md);
}

.sloganWrapper {
  display: flex;
  align-items: end;
  border-bottom: 1px solid var(--bc-black);
  padding-bottom: 20px;
  text-shadow: 3px 3px 3px var(--bc-shadow);
  padding: 20px 50px;
}

.slogan {
  font-size: var(--font-size-xxl);
  font-weight: bold;
}

.sloganDetails {
  font-size: var(--font-size-lg);
  margin: 20px;
  text-shadow: 3px 3px 3px var(--bc-shadow);
}

@media (max-width: 700px) {
  .topContainer {
    align-items: stretch;
  }

  .childButtonContainer {
    flex-direction: column;
  }

  .buttonContainer {
    grid-template-columns: auto;
  }
}
