.container {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 20px 0px;
  align-items: center;
  color: var(--bc-gray);
}

.linkContainer {
  display: flex;
  list-style: none;
  gap: 20px;
  user-select: none;
  cursor: default;
  font-size: var(--font-size-md);
}

.link {
  text-decoration: none;
}

.rogo {
  height: var(--font-size-xxl);
  fill: var(--bc-gray);
}

@media (max-width: 700px) {
  .container {
    display: block;
  }

  .linkContainer {
    display: block;
  }
}
