.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
}

.choice {
  display: flex;
  margin: 5px 10px;
}

.add {
  color: var(--bc-white);
}

.ratio {
  aspect-ratio: 1/1;
  height: 100%;
}
