.paper {
  margin: 30px;
  padding: 40px;
}

.titleAndName {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.submitButtons {
  display: flex;
  justify-content: end;
}

.nameContainer {
  display: flex;
}

.chkDl {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
}

.chkDt {
  font-weight: bold;
  text-align: end;
}

.chkDd {
  text-align: start;
}
