.paper {
  position: relative;
  margin: 30px;
  padding: var(--space-md) var(--space-lg);
}

.titleAndName {
  display: flex;
  justify-content: space-between;
}

.submitButtons {
  display: flex;
  justify-content: end;
}

.nameContainer {
  display: flex;
  position: absolute;
  right: 0;
}

/* .chkDl {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
}

.chkDt {
  font-weight: bold;
  text-align: end;
}

.chkDd {
  text-align: start;
} */

.titleTag {
  display: flex;
  align-items: center;
  color: var(--bc-green);
  margin: var(--space-lg) 0 var(--space-sm) 0;
}

.titleTagWrapper {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  padding: 10px 30px;
  border: 1px solid var(--bc-green);
  border-radius: 500px;
  user-select: none;
  transition: 0.3s;
}

.titleTagH2 {
  font-weight: bold;
  font-size: var(--font-size-lg);
  margin-right: 10px;
}

.titleTagChildren {
  pointer-events: none;
  margin: 10px 20px;
}

.titleTagHelp {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--bc-green);
  border-radius: 500px;
  width: 1rem;
  height: 1rem;
  padding: 1px;
  transition: 0.3s;
}

.titleTagHelp:hover {
  background-color: var(--bc-green);
}

.imgBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px 0 0;
  border: 3px dashed var(--bc-green);
  border-radius: 20px;
  min-width: 30%;
  max-width: 50%;
  overflow: hidden;
}

.imgBox::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--bc-white);
  transition: 0.3s;
  opacity: 0;
}

.imgBox:hover::after {
  opacity: 0.5;
}

.imgUploadBtn,
.imgDelBtn {
  z-index: 5;
}

.questionBox {
  display: flex;
  flex-direction: row;
}

.img {
  max-width: 80%;
  margin: 20px;
  box-shadow: 3px 3px 5px 3px var(--bc-shadow);
}

.imgDelBtn {
  position: absolute;
}

.checkContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 5px;
}

.checkUser {
  font-size: var(--font-size-sm);
  color: var(--bc-gray);
}

.checkTitle {
  font-size: var(--font-size-lg);
  font-weight: bold;
  color: var(--bc-green);
}

.checkQuestion {
  display: inline;
}

.checkImg {
  float: left;
  width: 30%;
  margin: 5px;
}

.checkChoices {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}

.checkChoice {
  display: flex;
  color: var(--bc-green);
  background-color: var(--bc-white);
  border: 1px solid var(--bc-green);
  border-radius: 500px;
  margin: 5px;
  padding: 3px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.checkChoiceCorrect {
  background-color: var(--bc-green);
  color: var(--bc-white);
}

.checkDescription {
  margin: 10px;
}

@media (max-width: 1000px) {
  .questionBox {
    flex-direction: column;
    gap: var(--space-md);
    align-items: center;
  }
}

@media (max-width: 700px) {
  .nameContainer {
    position: relative;
    justify-content: center;
  }

  .imgBox {
    max-width: 80%;
  }

  .checkChoices {
    grid-template-columns: 1fr;
  }
}
